.custom-button {
  padding: 10px 40px;
  border: none;
  background-color: #e1e1b9;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Outfit";
  cursor: pointer;
  transition: 0.2s;
  display: flex;
}
.custom-button:hover {
  background-color: #f1f1d8;
}
